<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <watched
        excludes=".*"
        subdirs="true">
        <filter
          name="CSS"/>
        <filter
          name="Html"/>
        <filter
          name="Java"/>
        <filter
          name="Javascript"/>
        <filter
          name="Php"/>
        <filter
          name="TypeScript"/>
        <filter
          name="Xml"/>
      </watched>
      <dir
        name="megamek">
        <dir
          name="data">
          <dir
            name="forcegenerator">
            <dir
              name="faction_rules"/>
          </dir>
          <dir
            name="mapgen"/>
          <dir
            name="mapsetup"/>
          <dir
            name="mechfiles"/>
          <dir
            name="scenarios">
            <dir
              name="Lucho"/>
          </dir>
        </dir>
        <dir
          name="docs">
          <dir
            name="Boards Stuff"/>
          <dir
            name="Quirks for Fan Council"/>
          <dir
            name="help">
            <dir
              name="en">
              <dir
                name="skinning"/>
            </dir>
          </dir>
        </dir>
        <dir
          name="mmconf">
          <dir
            name="skins"/>
        </dir>
        <dir
          name="src">
          <dir
            name="megamek">
            <dir
              name="client">
              <dir
                name="bot">
                <dir
                  name="ga"/>
                <dir
                  name="princess"/>
                <dir
                  name="ui">
                  <dir
                    name="swing"/>
                </dir>
              </dir>
              <dir
                name="commands"/>
              <dir
                name="event"/>
              <dir
                name="generator">
                <dir
                  name="enums"/>
                <dir
                  name="skillGenerators"/>
              </dir>
              <dir
                name="ratgenerator"/>
              <dir
                name="ui">
                <dir
                  name="baseComponents"/>
                <dir
                  name="comboBoxes"/>
                <dir
                  name="dialogs">
                  <dir
                    name="helpDialogs"/>
                </dir>
                <dir
                  name="displayWrappers"/>
                <dir
                  name="enums"/>
                <dir
                  name="lists"/>
                <dir
                  name="minimap"/>
                <dir
                  name="panels"/>
                <dir
                  name="panes"/>
                <dir
                  name="preferences"/>
                <dir
                  name="renderers"/>
                <dir
                  name="swing">
                  <dir
                    name="boardview"/>
                  <dir
                    name="calculationReport"/>
                  <dir
                    name="dialog"/>
                  <dir
                    name="gameConnectionDialogs"/>
                  <dir
                    name="lobby">
                    <dir
                      name="sorters"/>
                  </dir>
                  <dir
                    name="skinEditor"/>
                  <dir
                    name="table"/>
                  <dir
                    name="tileset"/>
                  <dir
                    name="tooltip"/>
                  <dir
                    name="unitDisplay"/>
                  <dir
                    name="util"/>
                  <dir
                    name="widget"/>
                </dir>
                <dir
                  name="trees"/>
              </dir>
            </dir>
            <dir
              name="codeUtilities"/>
            <dir
              name="common">
              <dir
                name="actions"/>
              <dir
                name="annotations"/>
              <dir
                name="battlevalue"/>
              <dir
                name="commandline"/>
              <dir
                name="containers"/>
              <dir
                name="enums"/>
              <dir
                name="event"/>
              <dir
                name="force"/>
              <dir
                name="icons"/>
              <dir
                name="loaders"/>
              <dir
                name="net">
                <dir
                  name="marshall"/>
              </dir>
              <dir
                name="options"/>
              <dir
                name="pathfinder"/>
              <dir
                name="preference"/>
              <dir
                name="templates"/>
              <dir
                name="util">
                <dir
                  name="fileUtils"/>
                <dir
                  name="generator"/>
                <dir
                  name="sorter"/>
                <dir
                  name="weightedMaps"/>
              </dir>
              <dir
                name="verifier"/>
              <dir
                name="weapons">
                <dir
                  name="artillery"/>
                <dir
                  name="autocannons"/>
                <dir
                  name="battlearmor"/>
                <dir
                  name="bayweapons"/>
                <dir
                  name="bombs"/>
                <dir
                  name="c3"/>
                <dir
                  name="capitalweapons"/>
                <dir
                  name="defensivepods"/>
                <dir
                  name="flamers"/>
                <dir
                  name="gaussrifles"/>
                <dir
                  name="infantry"/>
                <dir
                  name="lasers"/>
                <dir
                  name="lrms"/>
                <dir
                  name="mgs"/>
                <dir
                  name="missiles"/>
                <dir
                  name="mortars"/>
                <dir
                  name="other"/>
                <dir
                  name="ppc"/>
                <dir
                  name="primitive"/>
                <dir
                  name="prototypes"/>
                <dir
                  name="srms"/>
                <dir
                  name="tag"/>
                <dir
                  name="unofficial"/>
              </dir>
            </dir>
            <dir
              name="server">
              <dir
                name="commands"/>
              <dir
                name="victory"/>
            </dir>
            <dir
              name="test">
              <dir
                name="entities"/>
            </dir>
            <dir
              name="utils"/>
          </dir>
        </dir>
        <dir
          name="testresources">
          <dir
            name="megamek">
            <dir
              name="common">
              <dir
                name="loaders"/>
              <dir
                name="verifier"/>
            </dir>
          </dir>
        </dir>
        <dir
          name="unittests">
          <dir
            name="megamek">
            <dir
              name="client">
              <dir
                name="bot">
                <dir
                  name="princess"/>
              </dir>
              <dir
                name="generator"/>
            </dir>
            <dir
              name="common">
              <dir
                name="loaders"/>
              <dir
                name="options"/>
              <dir
                name="preference"/>
              <dir
                name="util">
                <dir
                  name="weightedMaps"/>
              </dir>
              <dir
                name="verifier"/>
            </dir>
            <dir
              name="server">
              <dir
                name="victory"/>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
    <language
      name="Web"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    version="Java5">
    <class_paths/>
  </java_options>
  <web_options
    add_found_imported_js_files="true"
    allow_asp_style_php_tags="false"
    allow_jquery="false"
    allow_node_js="false"
    allow_short_php_tags="true"
    js_module_search_path=""
    node_js_predefined_config_file="$CONF:/understand/javascript/nodejs_predefined.txt"
    node_js_search_path=""
    save_php_comments="true"
    search_strings_for_entity_names="false"
    php_version="5.3"/>
</project>
